<% if @users.any? %>
  <ul class="list-group" id="contact-list">
    <% @users.each_with_index do |user, index| %>
      <%= render partial: 'user', locals: { user: user, index: index + 1 } %>
    <% end %>
  </ul>
<% else %>
    <p>You are not Following no one, look for someone that you find interesting and click the Follow link</p>
<% end %>
